
.normal {
}

.title {
  background: rgb(121, 242, 157);
}
.title11 {
  background: rgb(000, 242, 157);
}
.title12 {
  background: rgb(222, 242, 157);
}
.title13 {
  background: rgb(222, 242, 157);
}
.title14 {
  background: rgb(999, 242, 157);
}
.title15 {
  background: rgb(999, 242, 157);
}
.title16 {
  background: rgb(222, 242, 000);
}
.title17 {
  background: rgb(222, 242, 000);
}
.title18 {
  background: rgb(222, 242, 000);
}